<div >
  <app-dice [type]="'d4'" (click)="onSelect('d4')" [selectedDice]="selectedDice" ></app-dice>
  <app-dice [type]="'d6'" (click)="onSelect('d6')" [selectedDice]="selectedDice" ></app-dice>
  <app-dice [type]="'d8'" (click)="onSelect('d8')" [selectedDice]="selectedDice" ></app-dice>
  <app-dice [type]="'d10'" (click)="onSelect('d10')" [selectedDice]="selectedDice" ></app-dice>
  <app-dice [type]="'d12'" (click)="onSelect('d12')" [selectedDice]="selectedDice" ></app-dice>
  <app-dice [type]="'d20'" (click)="onSelect('d20')" [selectedDice]="selectedDice" ></app-dice>
</div>
