<div *ngIf= "resultD4 == 1" class="platform row">
   <div
     class="d4anim dice"
     [ngClass] ="{diceSpin :spinningD4 == true}"
     >
     <div class="side one">
       <div class="number center">1</div>
       <div class="number sw">2</div>
       <div class="number se">3</div>
     </div>
     <div class="side two">
       <div class="number center">1</div>
       <div class="number sw">4</div>
       <div class="number se">2</div>
     </div>
     <div class="side three">
       <div class="number center">1</div>.
       <div class="number sw">3</div>
       <div class="number se">4</div>
     </div>
     <div class="side four">
       <div class="number center">2</div>
       <div class="number sw">4</div>
       <div class="number se">3</div>
     </div>
   </div>
 </div>

 <div *ngIf= "resultD4 == 2" class="platform row">
   <div
     class="d4anim dice"
     [ngClass] ="{diceSpin :spinningD4 == true}"
     >
      <div class="side one">
        <div class="number center">2</div>
        <div class="number sw">1</div>
        <div class="number se">4</div>
      </div>
      <div class="side two">
        <div class="number center">2</div>
        <div class="number sw">3</div>
        <div class="number se">1</div>
      </div>
      <div class="side three">
        <div class="number center">2</div>
        <div class="number sw">4</div>
        <div class="number se">3</div>
      </div>
      <div class="side four">
        <div class="number center">1</div>
        <div class="number sw">4</div>
        <div class="number se">2</div>
      </div>
    </div>
  </div>

  <div *ngIf= "resultD4 == 3" class="platform row">
    <div
      class="d4anim dice"
      [ngClass] ="{diceSpin :spinningD4 == true}"
      >
       <div class="side one">
         <div class="number center">3</div>
         <div class="number sw">2</div>
         <div class="number se">4</div>
       </div>
       <div class="side two">
         <div class="number center">3</div>
         <div class="number sw">1</div>
         <div class="number se">2</div>
       </div>
       <div class="side three">
         <div class="number center">3</div>
         <div class="number sw">4</div>
         <div class="number se">1</div>
       </div>
       <div class="side four">
         <div class="number center">2</div>
         <div class="number sw">1</div>
         <div class="number se">4</div>
       </div>
     </div>
   </div>

   <div *ngIf= "resultD4 == 4" class="platform row">
     <div
       class="d4anim dice"
       [ngClass] ="{diceSpin :spinningD4 == true}"
       >
        <div class="side one">
          <div class="number center">4</div>
          <div class="number sw">1</div>
          <div class="number se">3</div>
        </div>
        <div class="side two">
          <div class="number center">4</div>
          <div class="number sw">2</div>
          <div class="number se">1</div>
        </div>
        <div class="side three">
          <div class="number center">4</div>
          <div class="number sw">3</div>
          <div class="number se">2</div>
        </div>
        <div class="side four">
          <div class="number center">1</div>
          <div class="number sw">2</div>
          <div class="number se">3</div>
        </div>
      </div>
    </div>
